# .NET
bin/
obj/
*.user
*.suo
.vs/
*.log
appsettings.Development.json

# Node / React
node_modules/
dist/
.env
.env.local
.env.production.local

# Sistema
.DS_Store
Thumbs.db

# Docker
*.dockerignore

# Segredos — NUNCA commitar
**/appsettings.json
!**/appsettings.example.json
